/* Add CSS Styling */
.odd-number {
    background-color: #ffa7a7;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.cool {
    font-size: 24px;
}

#div-one {
    color: #0000ff;
    font-size: 36px;
}

#div-two {
    background-color: #90ee90;
    font-weight: bold;
}