body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

li {
  margin-bottom: 18px;
}

a {
  color: white;
  font-size: 24px;
  text-decoration: none;
}

.header {
  display: flex;
  align-items: center;
  font-size: 32px;
  font-weight: 900;
  padding-left: 16px;
  height: 72px;
  background: darkmagenta;
  color: white;
}

.main {
  flex: auto;
  display: flex;
  gap: 24px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  background: #eee;
  color: darkmagenta;
}

.sidebar {
  width: 300px;
  flex-shrink: 0;
  padding: 16px;
  background: royalblue;
  box-sizing: border-box;
}

.cardsector {
  display: flex;
  flex-wrap: wrap;
  padding: 48px;
  gap: 32px;
}

.card {
  width: 300px;
  padding: 48px;
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
}