/* Add CSS Styling */
.one,
.two {
    font-family: Helvetica, "Times New Roman", sans-serif;
    font-size: 28px;
}

.one {
    color: #ffff;
    background-color: #000;
}

.two {
    background-color: #ffff00;
}